{% extends "maps/base.html" %}
{% load static %}
{% block content %}


<head>
    <meta charset="UTF-8"/>
    <title>About</title>
</head>
<body>
    <div class="about_text">
        <h1>Safe Route Finder</h1>
        <p>This website uses police crime data to plot routes through London to help predestrians avoid areas 
            of high crime. Enter the address of the start location and destination in the path finder tool
            and it will generate the shortest and safest paths between those locations. A balanced path will
            also be generated which will be safer than the shortest path and shorter than the safest path. 
            It will be up to you which path you choose.
            <br>
            <br>
            Note that crime can be unpredictable and this website can not guarantee your saftey while
            using it.
            <br>
            </p>
        <p id = "emergency_info"><b>If you ever feel unsafe or in danger please call the 
            emergency services on <a href="https://www.police.uk/pu/contact-us/">999</a> immediately.</b>
        </p>
        
        <h1>Crime Heatmap</h1>
                </p>
        <P>
            The Crime Heatmap tool shows the locations of all the crimes in the data set. 
            The higher the intensity, the more dense the crime is in that area. 
            Note that the intensity is also proportional to the zoom of the map.
        </P>
        <h1>Temporal Analysis</h1>
        <p>The Temporal Analysis tool shows how the number of crimes in London 
            has changed over time. You can use the buttons to filter for specific 
            crimes. 
        </p>
        <h1>Police Data</h1>
        <p>All police data is anonymised and provided by 
            <a href="https://www.police.uk/pu/about-police.uk-crime-data/">police.uk</a>. 
            The data is open source and can be found at: 
            <a href = "https://data.police.uk/">https://data.police.uk/</a>. 
            Below is a table that summarises the number of each type of crime 
            in the dataset.
        </p>
    </div>

    <div id="myGrid"></div>

    <script>
        var dict = JSON.parse('{{ crime_json|safe|escapejs }}');

        function build_table_from_dict(dict) {
            var html = "<table>";
            html += "<tr><th>Crime Type</th><th>Number of crimes commited</th></tr>";
            for (var key in dict) {
            if (dict.hasOwnProperty(key)) {
                html += "<tr><td>" + key + "</td><td>" + dict[key].toLocaleString() + "</td></tr>";
            }
            }
            html += "</table>";
            return html;
        }

        var container = document.getElementById("myGrid");
        container.innerHTML = build_table_from_dict(dict);
    </script>
</body>
</html>
{% endblock content %}