<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Safe Routing App{% endblock title %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar">
    <ul class="navbar-list">
        <li><a href="{% url 'map_view' %}">Map View</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'crime_heatmap' %}">Crime Heatmap</a></li>
        <li><a href="{% url 'temporal_analysis' %}">Temporal Analysis</a></li>
    </ul>
  </nav>

  <!-- Main Content Area -->
  <main class="content">
    {% block content %}
    {% endblock content %}
  </main>


</body>
</html>