{% extends 'maps/base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Crime Heatmap</title>
</head>
<!-- The map fills the entire background -->
<div id="map"></div>



<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<!-- leaflet-heat plugin -->
<script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
<script>
  // Initialise the map
  var map = L.map('map').setView([51.5074, -0.1278], 13);

  // Add OSM tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  var heatPoints = JSON.parse('{{ heat_json|safe|escapejs }}');

  var heat = L.heatLayer(heatPoints, {
    radius: 10,
    blur: 15,
    maxZoom: 17,
    max: 5,
  }).addTo(map);

</script>




{% endblock content %}