{% extends 'maps/base.html' %}
{% load static %}

{% block content %}
<head>
  <title>Path Finder</title>
</head>
<!-- The map fills the entire background -->
<div id="map"></div>

<!-- Floating box for header and form -->
<div class="floating-box">
  <h1>Find a Safe Route</h1>
  <form action="{% url 'get_route' %}" method="POST">
    {% csrf_token %}
    <label for="start">Start Location:</label>
    <input type="text" id="start" name="start" required />

    <label for="destination">Destination:</label>
    <input type="text" id="destination" name="destination" required />

    <button type="submit">Get Safe Route</button>
  </form>
  {% if message %}
    <h3>{{ message }}</h3>
  {% endif %}
  {% if safe_len and short_len and balanced_len%}
  <p>Shortest route: {{ short_len|floatformat:2 }} KM</p>
  <p>Balanced route: {{ balanced_len|floatformat:2 }} KM, {{ balanced_percent }}% safer.</p>
  <p>Safest route: {{ safe_len|floatformat:2 }} KM, {{ safe_perctent }}% safer.</p>
  {% endif %}
</div>


<div class="legend">
  <h4>Routes Legend</h4>
  <div><span class="legend-color" style="background-color: red;"></span> Shortest Route</div>
  <div><span class="legend-color" style="background-color: blue;"></span> Balanced Route</div>
  <div><span class="legend-color" style="background-color: green;"></span> Safest Route</div>
</div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
  // Initialize the map
  var map = L.map('map').setView([51.5074, -0.1278], 13);

  // Add OSM tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);
</script>

{% if shortest_route_json %}
<script>
  // Get the shortest path json
  var shortest_route = JSON.parse('{{ shortest_route_json|safe|escapejs }}');
  // Add path to route
  var polyline = L.polyline(shortest_route, { color: 'red' }).addTo(map);
  map.fitBounds(polyline.getBounds());
</script>
{% endif %}

{% if balanced_route_json %}
<script>
  // Get the balanced path json
  var balanced_route = JSON.parse('{{ balanced_route_json|safe|escapejs }}');
  // Add path to route
  var polyline = L.polyline(balanced_route, { color: 'blue' }).addTo(map);
  map.fitBounds(polyline.getBounds());

</script>
{% endif %}

{% if safe_route_json %}
<script>
  // Get the safest path json
  var safe_route = JSON.parse('{{ safe_route_json|safe|escapejs }}');
  // Add path to map
  var polyline = L.polyline(safe_route, { color: 'green' }).addTo(map);
  map.fitBounds(polyline.getBounds());
</script>
{% endif %}


{% endblock content %}